{% extends "base.html" %}


{% block js %}
{% endblock %}

{% block css %}
<style type="text/css">
    body{
    padding-top: 10px;
    padding-left: 10px;
    }
    h2,h3, p{
    text-align:left;
    }
    h2{
    font-size:14px;
    /* margin:75px 0 50px; */
    }
    p{
    font-size:12px;
    margin:15px 0;
    }
</style>
{% endblock %}

{% block main %}
<h2>Thought Of The Day -  October 10, 2013</h2>
<p><h3>Treating the condition of Islamic Extremism</h3></p>
<p>I must confess I had rewritten this heading 10 times before settling for this version. The reason being is that
    one could easily slip into proliferation of negativity before laying out the point of the idea. Today, many of us
    find ourselves reading news of various formats and media, which help to disseminate 'Global Mood'. And there are
    certain buzz words of the modern journalism that are clear-cut, eye-catching and simply strong in numbers...
    "at war", "terror", "crisis", "credit" "crunch", "combat", "clashes", "attack" and so on. What effect this have on
    the respective information recipients? To what extent do we become immune to the 'Bad News' and oblivious to the
    'Good News'?</p>
<p> Extremism in general is a form of crisis management which is based on a reactive defence behaviour. Extreme
    opinions are formed around radical perceptions and beliefs and the overall thinking process is based on given
    truth values as opposed to reasoning and open discussion that welcomes audience from the opposite spectrum.
    In fact, generally speaking, fundamental interpretation of any kind allow for no room for ambiguity and grey zone.
    The ultimate truths are given and set which in turn determine behavioural patterns, customs and protocols that are
    followed.</p>
<p> The 'Good News' is that extremism is cyclical and one knows that it repeats itself through the history of mankind.
Take the Christianity as an example. From the humble beginnings as an extreme reaction to decadence/corrupt jewish
    clergy and secular Roman governors of the ancient Judea, through underground sect of Rome to a full-blown religious
    supremacy across Europe and the conquered world. But the influence of extreme thinking is not pervasive.</p>

<p>To be continued... I think I can finally fall asleep. Zzzz :-) </p>
{% endblock %}
